/* tag elements */

body {
	margin: 0;
}

nav {
	background: #2D3945;
}
hr {
	height: 1px;
	background: black;
	margin-top: 3px;
}

header, footer {
	text-align: center;
}
header {
	border-bottom: 4px solid black;
	margin: 2px;
}
p, h3{
	color: gray;
}
h3 {
	font-size: 1em;
	font-weight: 200;
}
fieldset {
	border: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

li{
	padding-bottom: 10px;
}

label {
	color: gray;
}

footer {
	margin-top: 25px;
	font-style: italic;
	color: gray;
}


/* class styles */
.wrapper {
	margin: 0 3%;
}
.contact {
	display: flex;
	flex-direction: column;
}
.contact input:focus {
	border-color: blue;
}


/* ID styles */

#title {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 20px;
	color: #fff;
}

#zipcode {
	width: 150px;
}

/* form {
	margin: 0 3%;
} */


fieldset > label {
	margin-bottom: 10px;
}
.contact input:nth-child(2n+3), select {
	background: #f2f2f2;
	border: none;
	border-radius: 5px;
	padding: 20px 0px 20px 0px;
	margin: 0 0 10px 0;
	width: 100%;
}
input[type="submit"]{
	padding: 20px;
	width: 100%;
	background: #4EBBB5;
	border-radius: 5px;
	color: white;
	font-size: 1.3em;
}
input[type="textarea"]{
	width: 100%;
	height: 100px;
	background: #f2f2f2;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

input::placeholder {
	text-align: right;
	padding: 10px;
	font-style: italic;
	color: rgb(214, 214, 214);
}






